.sobre-corpo{
    display: flex;
    flex-direction: column;
}

#sobre-banner1{
    background-image: url(../../img/sobre_banner1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10% 0 10%;
}
#sobre-banner2{
    background-image: url(../../img/sobre_banner2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10% 0 10%;
}

#sobre-bloco1{
    display: flex;
    background-color: #c6d4e1;
    padding: 2% 20% 2%;
}

#sobre-texto{
    padding-right: 8%;
    width: 100%;
}

#sobre-texto p{
    font-size: 1rem;
}

#sobre-cards{
    padding: 3% 0 3%;
}

#sobre-cards-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2% 20% 2%;
}

#sobre-cards h2{
    text-align: center;
    color: #44749d;
    text-decoration: underline;
}