.sobre-corpo{
    display: flex;
    flex-direction: column;
    padding: 0 0% 0;

}

#sobre-bloco1{
    display: flex;
    background-color: #c6d4e1;
    padding: 2% 20% 2%;
}

#sobre-texto{
    padding-right: 8%;
    width: 100%;
}

#sobre-texto p{
    font-size: 1rem;
}

#sobre-cards-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2% 20% 2%;
}

#sobre-cards h2{
    text-align: center;
    color: #44749d;
    text-decoration: underline;
}